
table{
    width: 80%;
}
table, th, td {

  border: 1px solid black;
  border-collapse: collapse;
}
td,th{
    height: 50px;
}
.table-weekend{
    background-color: forestgreen;
}
.table-exam{
    text-align: center;
    background-color:fuchsia;
}
.arrows-month{
    overflow: hidden;
    clear: both;
    width: fit-content;
    margin: auto;
    margin-bottom: 5px;
}

.arrows-month > #leftarrow, .arrows-month > h2 {
  float: left;
}

.search-form {
  float: left;
}
.arrows-month h2{
  margin-left: 5px;
    margin-right: 5px;

}
.arrows-month img{
  margin-top: 5px;
}

.div-table{
    margin-bottom: 80px;
}
.buttons{
    cursor: pointer;
    background-color: #D7D7D7;
     border: none;
    float: left;
    z-index: 2;
}
